body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 13em;
}

.form-container {
  align-items: center;
  background: linear-gradient(#2d7dd2, #9000b3, #eac435, #8cffda, #f5cce8);
  border-radius: 15px;
  border-radius: 5px;
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: center;
  padding: 1em;
  width: 18em;
}

.user-input {
  background-color: #fff;
  border-radius: 10px;
  border:0;
  color: black;
  height: 2em;
  padding-left: 0.5em;
  width: 12em;
}

.password-container {
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  display: flex;
  flex-direction: row;
  height: 2em;
  justify-content:space-between;
  position: relative;
  width: 12em;
}

.password-input{
  background:transparent;
  border:0;
  color:black;
  padding-left: 0.5em;
  width: 100%;
}

#icon {
  color:black;
  cursor: pointer;
  margin-top: 0.5em;
  position:absolute;
  right: 0.5em;
}

button {
  background-color: #676768;
  border-radius: 10px;
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 2em;
  text-align: center;
  width: 12em;
}

button:hover {
  background-color: #040f0f;
}
