<body>
  <form [formGroup]="myForm">
    <div class="form-container">
      <input class="user-input" type="text" formControlName="user" (ngSubmit)="onSave()" />
      <span class="error" *ngIf="isValidField('user')"
        >{{ getFieldError("user") }}
      </span>
      <br />
      <div class="password-container">
        <input
          id="pass"
          class="password-input"
          type="password"
          formControlName="password"
          (ngSubmit)="onSave()"
        />
        <br />
        <i
          class="pi pi-eye"
          id="icon"
          (mousedown)="showPasswordAndIcon()"
          (mouseup)="showPasswordAndIcon()"
        ></i>

        <br />
      </div>

      <span class="error" *ngIf="isValidField('password')"
        >{{ getFieldError("password") }}
      </span>

      <br />
      <button (click)="onSave()">Login</button>
    </div>
  </form>

  <div class="acc">
    <a routerLink="/register">Not account jet?</a>
  </div>
</body>
