<div class="calendar-container">
  <header class="calendar-header">
    <div id="calendar-prev" (click)="prevMonth()"></div>
    <p class="calendar-current-date">{{months[currentMonth]}}</p>
    <div id="calendar-next" (click)="nextMonth()"></div>
  </header>

  <div class="calendar-body">
    <ul class="calendar-weekdays">
      <li *ngFor="let day of days" class="weekday">
        <div>{{ day }}</div>
      </li>

      <li
        class="monthDate"
        *ngFor="let dayBlock of monthDayBlocks"
        [ngClass]="{ active: dayBlock.highlight, inactive: dayBlock.disabled }"
      >
        <div class="data-number">{{ dayBlock.value }}</div>
      </li>
    </ul>
  </div>
</div>
