
<app-modal #modalRef />
<div class="calendar-container">
  <header class="calendar-header">
    <div id="calendar-prev" (click)="prevMonth()"></div>
    <p class="calendar-current-date">
      {{ months[currentMonth] }} - {{ currentYear }}
    </p>
    <div id="calendar-next" (click)="nextMonth()"></div>
  </header>

  <div class="calendar-body">
    <ul class="calendar-weekdays">
      <li *ngFor="let day of days" class="weekday">
        <div>{{ day }}</div>
      </li>

      <li
        (click)="modalRef.showDialog(dayBlock)"
        class="monthDate"
        *ngFor="let dayBlock of monthDayBlocks"
        [ngClass]="{ active: dayBlock.highlight, inactive: dayBlock.disabled }"
        [style.background-color]="dayBlock.color"

      >

        <div class="data-number">{{ dayBlock.dayValue }}</div>

        <div class="show-dot" *ngIf="dayBlock.taskList?.length">
          <div
            class="dot"
            *ngFor="let task of dayBlock.taskList"
            [style.background-color]="task.color"
            (click)="toggleTask(task); $event.stopPropagation()"
          ></div>
          <!--$event.stopPropagation() sirve para impedir que el evento se propague mas allá del elemento donde se hizo click-->
        </div>

        <div class="task" [class.expanded]="dayBlock.expanded">
          <ul class="task-list">
            <li
              *ngFor="let task of dayBlock.taskList"
              [ngClass]="{ hidden: !isSelected(task.id) }"
              (click)="redirectToDiary()"
            >
              {{ task.title }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
