.calendar-container {
  display: grid;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
}

#calendar-prev,
#calendar-next {
  width: 20px;
  height: 20px;
  transition: 0.5s;
  float: left;
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#calendar-prev {
  transform: rotate(45deg);
}
#calendar-next {
  transform: rotate(225deg);
}

#calendar-prev:hover,
#calendar-next:hover{
  cursor: pointer;
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 1);
}

.calendar-current-date{
  font-size: 45px;
  font-style:italic;
  font-weight: bold;
}
.calendar-body {
  display: grid;
  flex-direction: column;
  padding: 0;
}

.calendar-weekdays {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 0 1em 0 1em;
}

.weekday  div {
  border: 2px solid #ff0b0b;
  border-radius: 5px 5px 0 0;
}

.calendar-dates {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: right;
  padding: 0 1em 0 1em;
}

.active {
  font-weight: bolder;
  color: red;
  font-size: 28px;
  text-shadow: -2px 2px rgba(0, 0, 0, 0.1);
}

.inactive {
  color: rgb(190, 190, 190);
  cursor: default;
  user-select: none;

}
.monthDate {
  position: relative;
  text-align: right;
  justify-content: right;
  border: 1px inset #e7e7e7;
  cursor: pointer;
  height: 150px;
}
.data-number {
  position: absolute;
  bottom: 0.1em;
  right: 0.5em;

}

.calendar-dates > li {
  border: 1px solid #1e679a;
}



