<form [formGroup]="allTasks" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <label class="title">Add new task</label>
    <!--agregar tareas-->
    <div class="add-task-container">
      <input
        class="add_newTasks"
        type="text"
        placeholder="New Task"
        [formControl]="newTask"
      />

      <input class="add_newDates" type="date" [formControl]="newDate" />

      <button (click)="addNewTaskAndDate()" type="button">Add new task</button>
      <span
        *ngIf="this.newTask.invalid && this.newTask.touched"
        class="error mr-2 p-2"
        >May introduce a task
      </span>
      <span
        *ngIf="this.newDate.invalid && this.newDate.touched"
        class="error p-2"
        >May choose a date</span
      >
    </div>
    <hr/>


    <!--nuevas tareas-->

    <div class="task-container" formArrayName="tasks">
      <!--Mostrar la nueva tarea-->

      <div class="task"  *ngFor="let task of tasks.controls; let i = index">
        <input  [value]="task.value" class="task-text" type="text" (click)="showTask(i)"/>

        <!--Mostrar la fecha de la tarea-->

        <input class="task-date" type="date" [value]="dates.at(i).value" />

        <!--Boton de borrar-->
        <button (click)="deleteSavedTask(i)">Delete</button>
        <!--mostrar el contenido del input de las tareas, y cerrarlo al volver a dar click en el-->
        <div class="selected-task"  [contentEditable]="true" *ngIf="selectedTaskIndex === i" >{{tasks.at(i).value}}</div>
      </div>
    </div>
  </div>
</form>
