<form [formGroup]="newForm">
  <label class="title">Add new task</label>
  <!--agregar tareas-->
  <div class="add-task-container">
    <input
      class="add_newTasks"
      type="text"
      placeholder="Task title"
      formControlName="title"
    />
    <textarea formControlName="description" placeholder="Description" cols="20" rows="5"></textarea>

    <label>Start date </label>
    <input class="add_newDates" type="date" formControlName="startDate" />

    <label>End date </label>
    <input class="add_newDates" type="date" formControlName="endDate" />

    <button (click)="add()" type="button">Add new task</button>
  </div>
</form>

<hr />

<div class="form-container">
  <div class="task-container" *ngFor="let task of list.controls; let i = index">
    <div class="task" [formGroup]="task">
      <input formControlName="title" type="text" />

      <input formControlName="description" type="text" />

      <input formControlName="startDate" type="date" />

      <input formControlName="endDate" type="date" />

      <button (click)="delete(i)">Delete</button>

      <button (click)="saveToLocalStorage()">Save</button>
    </div>
  </div>
</div>
