<body>
  <form [formGroup]="newForm">
    <div class="form-container">
      <img class="user-icon" src="assets/images/add-user.png" />

      <div class="input-group">
        <input formControlName="email" type="e-mail" />
        <label>Email</label>
      </div>

      <span *ngIf="newForm.errors?.['email']" class="form-text text-danger">
        must be a correct e-mail
      </span>

      <br />

      <div class="input-group">
        <input formControlName="user" class="user-input" type="text" />
        <label>User</label>
      </div>
      <br />

      <div class="input-group">
        <input formControlName="password" type="password" class="pass" />
        <label>Password</label>
      </div>

      <br />

      <div class="input-group">
        <input formControlName="confirmPassword" type="password" class="pass" />
        <label>Confirm password</label>
      </div>

      <span *ngIf="newForm.errors?.['notEqual']" class="form-text text-danger">
        passwords must match
      </span>

      <br />

      <button>Register</button>
      <div class="">
        <a routerLink="/login">Login</a>
      </div>
    </div>
  </form>
</body>
