<div class="flex flex-column">
  <span>Registro</span>


    <label>Correo electrónico</label>
    <input type="e-mail"  placeholder="Correo electrónico" />



    <label>Usuario</label>
    <input type="text"  placeholder="Nombre de usuario" />



    <label>Contraseña</label>
    <input type="password" placeholder="Contraseña" />

    <label>Repita Contraseña</label>
    <input type="password" placeholder="Contraseña" />


  <button>
    Login
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/login">¿Ya tienes cuenta?</a>
  </div>
</div>
