<div class="container">
  <header class="wellcome">WorkShifts</header>
</div>

<div class="divprinc row">
  <div class="calendar col-12 col-md-6"><h2>Calendar</h2><img class="calendario_img " (click)="goCalendar() "src="assets/images/calendario.jpg"> </div>
  <div class="diary col-12 col-md-6"><h2>Diary</h2><img class="agenda_img" (click)="goDiary()" src="assets/images/calendario_alt.jpg"></div>
  <div class="shifts col-12 col-md-6"><h2>Shifts</h2><img class="turnos_img" (click)="goShift()" src="assets/images/turnos.avif"></div>
</div>


