<form [formGroup]="newForm">
  <label class="title">Add new shift</label>
  <!--agregar tareas-->
  <div class="add-task-container">
    <label>Entry time: </label>
    <input
      class="add_newTasks"
      type="time"
      placeholder="Task title"
      formControlName="entryTime"
    />
    <label>Departure time: </label>

    <input
      class="add_newTasks"
      type="time"
      placeholder="Task title"
      formControlName="departureTime"
    />

    <input type="text" formControlName="comment" placeholder="Comment" />

    <label>Color:</label>

    <input class="add_newDates" type="color" formControlName="color" />

    <button (click)="add()">Add new shift</button>
  </div>
</form>

<hr />

<div class="form-container">
  <div class="task-container" *ngFor="let task of list.controls; let i = index">
    <div class="task" [formGroup]="task">
      <input formControlName="entryTime" type="time" />

      <input formControlName="departureTime" type="time" />

      <input formControlName="comment" type="text" />

      <input formControlName="color" type="color" />

      <button (click)="delete(i)">Delete</button>

      <button (click)="saveToLocalStorage()">Save</button>
    </div>
  </div>
</div>
