/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/arya-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.hidden {
  display: none;
}

.darkTheme{
  background: #1e1e1e;
  color:rgba(255,255,255 0.87);
}